<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} Irianas</title>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/irianas.css')}}">
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js')}}">></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bootbox.min.js')}}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/irianas.js')}}"></script>
            <script type=text/javascript>
               $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
               $IP_CLIENT = '';
            </script>
        {% endblock %}

    </head>
    <body>
        <header>
            {% include 'header.html' %}
        </header>

        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

    </body>
</html>
