{% extends "base.html" %}
{% block title %}
    Cliente
{% endblock %}
{% block content %}

	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-info">
					<div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Lista de Clientes</div>
					<div class="panel-body">
						{% if msg %}
                        <div class="alert alert-danger">{{ msg | safe }}</div>
                        {% endif %}

                        {% if msg_success %}
                        <div class="alert alert-success">{{ msg_success | safe }}</div>
                        {% else %}
						<div class="table-responsive">
						    <table class="table table-hover">
						        <thead>
						            <tr>
						                <th>Direcci&oacute;n IP</th>
						            </tr>
						        </thead>
						        <tbody>
						        	{% for item in clients %}
								    <tr>
						                <td>{{ item.ip }}</td>
						                <td>
						                	<a href="/client/{{ item.ip }}" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i> Administrar </a>
						                	<a href="/clients/delete/{{ item.ip }}" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i> Eliminar </a>
						                </td>
						            </tr>
								    {% endfor %}
						        </tbody>
						    </table>
						</div>
						{% endif %}
						<a href="/client/add/" class="btn btn-primary">Agregar un cliente</a>
						<a href="/home/" class="btn btn-primary">Volver</a>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
