{% extends "base.html" %}
{% block title %}
    Cliente
{% endblock %}
{% block content %}

	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-info">
					<div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Lista de Clientes</div>
					<div class="panel-body">
						{% if msg %}
                        <div class="alert alert-danger">{{ msg | safe }}</div>
                        {% else %}
						<div class="table-responsive">
						    <table class="table table-hover">
						        <thead>
						            <tr>
						            	<th>Servidor</th>
						                <th>Nombre del Anfitri&oacute;n</th>
						                <th>Direcci&oacute;n IP</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr>
						            	<td><span class="label label-success">node.1</span></td>
						                <td><span class="label label-success">node.10</span></td>
						                <td>10.10.10.12</td>
						                <td><a href="/client/" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i> Administrar </a></td>
						            </tr>
						        </tbody>
						    </table>
						</div>
						<h5>Legenda</h5>
						<span class="label label-success">Activo</span> | <span class="label label-danger">Inactivo</span>
						{% endif %}
						<a href="/client/add" class="btn btn-primary">Agregar un cliente</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
