{% extends "base.html" %}
{% block title %}
    Configuraci&oacute;n FTP
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Configuraci&oacute;n - FTP </div>
                    <div class="panel-body">
                        {% if msg %}
                        <div class="alert alert-danger">{{ msg | safe }}</div>
                        {% endif %}

                        {% if msg_success %}
                        <div class="alert alert-success">{{ msg_success | safe }}</div>
                        {% endif %}
                        <form action="/client/services/config/vsftpd/{{ ip_client }}" method="POST" role="form">
                            <legend>FTP (vSFTP)</legend>

                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label for="">anonymous_enable:</label>
                                        <select name="anonymous_enable" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if anonymous_enable == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if anonymous_enable == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label for="">anon_upload_enable:</label>
                                        <select name="anon_upload_enable" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if anon_upload_enable == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if anon_upload_enable == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label for="">ftpd_banner:</label>
                                        <input name="ftpd_banner" value="{{ ftpd_banner }}" type="text" class="form-control" id="" placeholder="Welcome to FTP Server (Provided by Irianas)">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">dirmessage_enable:</label>
                                        <select name="dirmessage_enable" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if dirmessage_enable == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if dirmessage_enable == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">connect_from_port_20:</label>
                                        <select name="connect_from_port_20" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if connect_from_port_20 == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if connect_from_port_20 == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">ascii_upload_enable:</label>
                                        <select name="ascii_upload_enable" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if ascii_upload_enable == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if ascii_upload_enable == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">ascii_dowload_enable:</label>
                                        <select name="ascii_dowload_enable" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if ascii_dowload_enable == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if ascii_dowload_enable == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">chroot_local_user:</label>
                                        <select name="chroot_local_user" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if chroot_local_user == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if chroot_local_user == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">chroot_list_enable:</label>
                                        <select name="chroot_list_enable" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if chroot_list_enable == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if chroot_list_enable == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">chroot_list_file:</label>
                                        <input name="chroot_list_file" value="{{ chroot_list_file }}" type="text" class="form-control" id="" placeholder="/etc/vsftpd/chroot_list">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">ls_recurse_enable:</label>
                                        <select name="ls_recurse_enable" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if ls_recurse_enable == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if ls_recurse_enable == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">listen:</label>
                                        <select name="listen" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if listen == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if listen == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">listen_ipv6:</label>
                                        <select name="listen_ipv6" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if listen_ipv6 == 'YES' %}selected="selected"{% endif %}>YES</option>
                                            <option value="NO" {% if listen_ipv6 == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">userlist_enable:</label>
                                        <select name="userlist_enable" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if userlist_enable == 'YES' %}selected="selected"{% endif %}>YES</option>
                                            <option value="NO" {% if userlist_enable == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">tcp_wrappers:</label>
                                        <select name="tcp_wrappers" id="inputAnonymous" class="form-control">
                                            <option value="YES" {% if tcp_wrappers == 'YES' %}selected{% endif %}>YES</option>
                                            <option value="NO" {% if tcp_wrappers == 'NO' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">max_clients:</label>
                                        <input name="max_clients" value="{{ max_clients }}" type="text" class="form-control" id="" placeholder="100">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">max_per_ip:</label>
                                        <input name="max_per_ip" value="{{ max_per_ip }}" type="text" class="form-control" id="" placeholder="10">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
                            <a href="/client/{{ ip_client }}" class="btn btn-primary">Volver </a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
