{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

	<div class="container">
		<div class="jumbotron">
		    <div class="container">
		        <h1>Irianas - Panel de Control</h1>
		    </div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-info">
					<div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Informaci&oacute;n General (Node Master)</div>
					<div class="panel-body">
						<div class="table-responsive">
						    <table class="table table-hover">
						        <tbody>
						        	<tr>
						                <td><strong>Nombre del Anfitri&oacute;n</strong></td>
						            	<td><span class="label label-warning">{{ values.host_name }}</span></td>
						            </tr>
						            <tr>
						                <td><strong>Sistema Operativo</strong></td>
						            	<td>{{ values.os }}</td>
						            </tr>
						            <tr>
						                <td><strong>Arquitectura</strong></td>
						            	<td>{{ values.arch }}</td>
						            </tr>
						            <tr>
						                <td><strong>Memoria RAM</strong></td>
						            	<td>{{ values.memory }} kb</td>
						            </tr>
						        </tbody>
						    </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
