{% extends "base.html" %}
{% block title %}
    Ingreso de usuario
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Irianas</h2>
            <input type="text" class="form-control" placeholder="Usuario del Sistema" autofocus>
            <input type="password" class="form-control" placeholder="Contrase&ntilde;a">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesi&oacute;n</button>
        </form>

    </div>

{% endblock %}

