{% extends "base.html" %}
{% block title %}
    Configuraci&oacute;n MySQL
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Configuraci&oacute;n - MySQL </div>
                    <div class="panel-body">
                        {% if msg %}
                        <div class="alert alert-danger">{{ msg | safe }}</div>
                        {% endif %}

                        {% if msg_success %}
                        <div class="alert alert-success">{{ msg_success | safe }}</div>
                        {% endif %}
                        <form action="/client/services/config/mysql/{{ ip_client }}" method="POST" role="form">
                            <legend>MySQL </legend>

                            <div class="row">

                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label for="">binlog_cache_size:</label>
                                        <input name="binlog_cache_size" value="{{ binlog_cache_size }}" type="text" class="form-control" id="" placeholder="32768">
                                    </div>
                                </div>

                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label for="">bulk_insert_buffer_size:</label>
                                        <input name="bulk_insert_buffer_size" value="{{ bulk_insert_buffer_size }}" type="text" class="form-control" id="" placeholder="8388608">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">connect_timeout:</label>
                                        <input name="connect_timeout" value="{{ connect_timeout }}" type="text" class="form-control" id="" placeholder="10">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">completion_type:</label>
                                        <input name="completion_type" value="{{ completion_type }}" type="text" class="form-control" id="" placeholder="0">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">concurrent_insert:</label>
                                        <select name="concurrent_insert" id="inputAnonymous" class="form-control">
                                            <option value="ON" {% if concurrent_insert == 'ON' %}selected{% endif %}>ON</option>
                                            <option value="OFF" {% if concurrent_insert == 'OFF' %}selected{% endif %}>OFF</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <legend>Innodb</legend>
                            <div class="row">

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_additional_mem_pool_size:</label>
                                        <input name="innodb_additional_mem_pool_size" value="{{ innodb_additional_mem_pool_size }}" type="text" class="form-control" id="" placeholder="1048576">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_autoextend_increment:</label>
                                        <input name="innodb_autoextend_increment" value="{{ innodb_autoextend_increment }}" type="text" class="form-control" id="" placeholder="8">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_buffer_pool_awe_mem_mb:</label>
                                        <input name="innodb_buffer_pool_awe_mem_mb" value="{{ innodb_buffer_pool_awe_mem_mb }}" type="text" class="form-control" id="" placeholder="0">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_buffer_pool_size:</label>
                                        <input name="innodb_buffer_pool_size" value="{{ innodb_buffer_pool_size }}" type="text" class="form-control" id="" placeholder="8388608">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_checksums:</label>
                                        <select name="innodb_checksums" id="inputAnonymous" class="form-control">
                                            <option value="ON" {% if innodb_checksums == 'ON' %}selected{% endif %}>ON</option>
                                            <option value="OFF" {% if innodb_checksums == 'OFF' %}selected{% endif %}>OFF</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_commit_concurrency:</label>
                                        <input name="innodb_commit_concurrency" value="{{ innodb_commit_concurrency }}" type="text" class="form-control" id="" placeholder="0">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_concurrency_tickets:</label>
                                        <input name="innodb_concurrency_tickets" value="{{ innodb_concurrency_tickets }}" type="text" class="form-control" id="" placeholder="500">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_data_file_path:</label>
                                        <input name="innodb_data_file_path" value="{{ innodb_data_file_path }}" type="text" class="form-control" id="" placeholder="ibdata1:10M:autoextend">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_fast_shutdown:</label>
                                        <input name="innodb_fast_shutdown" value="{{ innodb_fast_shutdown }}" type="text" class="form-control" id="" placeholder="1">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_file_io_threads:</label>
                                        <input name="innodb_file_io_threads" value="{{ innodb_file_io_threads }}" type="text" class="form-control" id="" placeholder="4">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_file_per_table:</label>
                                        <select name="innodb_file_per_table" id="inputAnonymous" class="form-control">
                                            <option value="ON" {% if innodb_file_per_table == 'ON' %}selected{% endif %}>ON</option>
                                            <option value="OFF" {% if innodb_file_per_table == 'OFF' %}selected{% endif %}>OFF</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_flush_log_at_trx_commit:</label>
                                        <input name="innodb_flush_log_at_trx_commit" value="{{ innodb_flush_log_at_trx_commit }}" type="text" class="form-control" id="" placeholder="1">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_force_recovery:</label>
                                        <input name="innodb_force_recovery" value="{{ innodb_force_recovery }}" type="text" class="form-control" id="" placeholder="0">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_lock_wait_timeout:</label>
                                        <input name="innodb_lock_wait_timeout" value="{{ innodb_lock_wait_timeout }}" type="text" class="form-control" id="" placeholder="50">
                                    </div>
                                </div>

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="">innodb_locks_unsafe_for_binlog:</label>
                                        <select name="innodb_locks_unsafe_for_binlog" id="inputAnonymous" class="form-control">
                                            <option value="ON" {% if innodb_locks_unsafe_for_binlog == 'ON' %}selected{% endif %}>ON</option>
                                            <option value="OFF" {% if innodb_locks_unsafe_for_binlog == 'OFF' %}selected{% endif %}>OFF</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                                <legend>Otras configuraciones </legend>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">join_buffer_size:</label>
                                            <input name="join_buffer_size" value="{{ join_buffer_size }}" type="text" class="form-control" id="" placeholder="131072">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">interactive_timeout:</label>
                                            <input name="interactive_timeout" value="{{ interactive_timeout }}" type="text" class="form-control" id="" placeholder="28800">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">keep_files_on_create:</label>
                                            <select name="keep_files_on_create" id="inputAnonymous" class="form-control">
                                                <option value="ON" {% if keep_files_on_create == 'ON' %}selected{% endif %}>ON</option>
                                                <option value="OFF" {% if keep_files_on_create == 'OFF' %}selected{% endif %}>OFF</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">key_buffer_size:</label>
                                            <input name="key_buffer_size" value="{{ key_buffer_size }}" type="text" class="form-control" id="" placeholder="8388608">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">key_cache_age_threshold:</label>
                                            <input name="key_cache_age_threshold" value="{{ key_cache_age_threshold }}" type="text" class="form-control" id="" placeholder="300">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">key_cache_block_size:</label>
                                            <input name="key_cache_block_size" value="{{ key_cache_block_size }}" type="text" class="form-control" id="" placeholder="1024">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">key_cache_division_limit:</label>
                                            <input name="key_cache_division_limit" value="{{ key_cache_division_limit }}" type="text" class="form-control" id="" placeholder="100">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">max_allowed_packet:</label>
                                            <input name="max_allowed_packet" value="{{ max_allowed_packet }}" type="text" class="form-control" id="" placeholder="1048576">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">max_connections:</label>
                                            <input name="max_connections" value="{{ max_connections }}" type="text" class="form-control" id="" placeholder="100">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">max_delayed_threads:</label>
                                            <input name="max_delayed_threads" value="{{ max_delayed_threads }}" type="text" class="form-control" id="" placeholder="20">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">max_join_size:</label>
                                            <input name="max_join_size" value="{{ max_join_size }}" type="text" class="form-control" id="" placeholder="4294967295">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">max_sort_length:</label>
                                            <input name="max_sort_length" value="{{ max_sort_length }}" type="text" class="form-control" id="" placeholder="1024">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">max_sp_recursion_depth:</label>
                                            <input name="max_sp_recursion_depth" value="{{ max_sp_recursion_depth }}" type="text" class="form-control" id="" placeholder="0">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">query_cache_limit:</label>
                                            <input name="query_cache_limit" value="{{ query_cache_limit }}" type="text" class="form-control" id="" placeholder="1048576">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">query_cache_min_res_unit:</label>
                                            <input name="query_cache_min_res_unit" value="{{ query_cache_min_res_unit }}" type="text" class="form-control" id="" placeholder="4096">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">query_cache_size:</label>
                                            <input name="query_cache_size" value="{{ query_cache_size }}" type="text" class="form-control" id="" placeholder="0">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">query_cache_type:</label>
                                            <input name="query_cache_type" value="{{ query_cache_type }}" type="text" class="form-control" id="" placeholder="1">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">socket:</label>
                                            <input name="socket" value="{{ socket }}" type="text" class="form-control" id="" placeholder="/tmp/mysql.sock">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">sort_buffer_size:</label>
                                            <input name="sort_buffer_size" value="{{ sort_buffer_size }}" type="text" class="form-control" id="" placeholder="2097144">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="">wait_timeout:</label>
                                            <input name="wait_timeout" value="{{ wait_timeout }}" type="text" class="form-control" id="" placeholder="28800">
                                        </div>
                                    </div>
                                </div>

                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
                            <a href="/client/{{ ip_client }}" class="btn btn-primary">Volver </a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
