{% extends "base.html" %}
{% block title %}
    Configuraci&oacute;n SSH
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Configuraci&oacute;n - DNS </div>
                    <div class="panel-body">
                        {% if msg %}
                        <div class="alert alert-danger">{{ msg | safe }}</div>
                        {% endif %}

                        {% if msg_success %}
                        <div class="alert alert-success">{{ msg_success | safe }}</div>
                        {% endif %}
                        <form action="/client/services/config/ssh/{{ ip_client }}" method="POST" role="form">
                            <legend>SSH (OpenSSH) </legend>

                            <div class="row">

                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label for="">port:</label>
                                        <input name="port" type="text" value="{{ port }}" class="form-control" id="" placeholder="53">
                                    </div>
                                </div>

                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label for="">permit_root:</label>
                                        <select name="permit_root" id="inputAnonymous" class="form-control">
                                            <option value="yes" {% if permit_root == 'yes' %}selected{% endif %}>YES</option>
                                            <option value="no" {% if permit_root == 'no' %}selected{% endif %}>NO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label for="">max_auth_tries:</label>
                                        <input name="max_auth_tries" type="text" value="{{ max_auth_tries }}" class="form-control" id="" placeholder="::1">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
                            <a class="btn btn-primary" href="/client/{{ ip_client }}">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
