{% extends "base.html" %}
{% block title %}
    Confi_MySQL
{% endblock %}
{% block content %}
    <div class="container">
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i> Inicio</a>
            <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-cloud"></i> Servidores</a>
            <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-tower"></i> Clientes</a>
            <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> Servicios</a>
            <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-question-sign"></i> Estado</a>
        </div>
    </div>

    </br>

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Creaci&oacute;n de usuarios </div>
                    <div class="panel-body">
                        <form action="" method="POST" role="form">
                            <legend>Creaci&oacute;n de usuarios FTP </legend>

                            <div class="row">

                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label for=""> Usuario:</label>
                                        <input type="text" class="form-control" id="" placeholder="Usuario">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label for=""> Contrase&ntilde;a:</label>
                                        <input type="password" class="form-control" placeholder="Contrase&ntilde;a">
                                    </div>
                                </div>
                             </div>

                             <div class="row">

                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label for=""> Repetir Contrase&ntilde;a:</label>
                                        <input type="password" class="form-control" placeholder="Contrase&ntilde;a">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Crear usuario</button>

                        </form>
                    </div>
                </div>
             </div>
        </div> 
    </div>
{% endblock %}